<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>23/12/12 18:04:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestCase_1.executor()[pri:0, instance:Test_Package.POST_TestCase_1@14028087]">executor</td> 
  <td>main@1979274004</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>23/12/12 18:04:14</td>   <td>7061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_TestCase_1.executor()[pri:0, instance:Test_Package.PUT_TestCase_1@6440112d]">executor</td> 
  <td>main@1979274004</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>23/12/12 18:04:12</td>   <td>4955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH_TestCase_1.executor()[pri:0, instance:Test_Package.PATCH_TestCase_1@5890e879]">executor</td> 
  <td>main@1979274004</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>23/12/12 18:04:15</td>   <td>8039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestCase_1.executor()[pri:0, instance:Test_Package.GET_TestCase_1@31ea9581]">executor</td> 
  <td>main@1979274004</td>   <td></td> </tr>
</table>
